a {
  text-decoration: none
}

.nav {
    grid-area: n;
    background-color: #b1b1b1;
    padding: 20px;
    font-size: 1rem; 
  }

  .item a{
    color: black
  }

  .item .active {
    color: gold;
  }