a {
  text-decoration: none
}

.nav {
    grid-area: n;
    background-color: burlywood;
    width: 50px;
    padding: 20px
  }

  .item a{
    color: black
  }

  .item .active {
    color: gold;
  }