body {
  background: #edeef0
}

.app-wrapper {
  margin: 0 auto; 
  display: grid;
  grid-template-areas:
  "h h"
  "n c";
  grid-template-rows: 7% 3fr;
  grid-template-columns: 2fr 10fr;
  padding: 0 5%
  /* width: 1000px; */
}

.app-wrapper-content {
    grid-area: c;
    background-color: #dedede;
}